.pagina {
    background-color: black;
}
.integrantes {
color: white;
}
.pasoapaso {
color:white;
text-align: center;
}
.problemasysoluciones {
    text-align: center;
    color:white
}
.colores {
    background-color: brown;
    color: white;
}