:root {
  --color-primario: #273032;
  --color-secundario: #1d1f20;
  --color-acento: #ffcc00;
  --color-texto: #ffffff;
  --color-hover: #3a474a;
  --color-claro: #e0e0e0;
}

/* Estilo Barra nav */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primario);
  color: var(--color-texto);
  padding: 10px;
  border-radius: 8px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 20px;
}

a {
  color: var(--color-texto);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

a:hover {
  color: var(--color-acento);
}

@media (max-width: 768px) {
  nav, ul {
    flex-direction: column;
  }
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-primario);
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 1;
  top: 100%;
  left: 0;
  padding: 10px;
  min-width: 160px;
  flex-direction: column;
}

.dropdown-content li {
  margin: 5px 0;
}

.dropdown-content a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-texto);
  text-decoration: none;
  padding: 8px;
  border-radius: 6px;
}

.dropdown-content a:hover {
  background-color: var(--color-hover);
  color: var(--color-acento);
}

.dropdown:hover .dropdown-content {
  display: flex;
}
